<a href="https://colab.research.google.com/github/ballesteritos/guac/blob/master/Copy_of_Google_Search_Clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Search

In [ ]:
!pip install requests_html

In [ ]:
import pandas as pd
from requests_html import HTMLSession
import time

In [ ]:
session = HTMLSession()

In [ ]:
 def get_results(query):
  r = session.get("https://www.google.com/search?q={}".format(query))
  while r.status_code != 200:
    time.sleep(2)
    r = session.get("https://www.google.com/search?q={}".format(query))
  resultnumber = r.html.find('#result-stats')
  try:
    return resultnumber[0].text.split()[1]
  except IndexError:
    print(r.html)
    raise

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/chronic condition philanthropy 2007 2019 1Mil plus.xlsx')
data["Description"].fillna(0,inplace=True)
data.head()

  Company Name  ...                                        Description
0   3M COMPANY  ...                                                  0
1   3M COMPANY  ...              For 3M Chair in Experiential Learning
2   3M COMPANY  ...  For University of St. Thomas Opening Doors Cam...
3   3M COMPANY  ...                                                  0
4   3M COMPANY  ...                                                  0

[5 rows x 14 columns]

In [ ]:
newdescriptions = data["Company Name"] + " " + data["Recipient Name"] + " " + data["Grant Amount"].map(str) + " " + data["Year Authorized"].map(str)
descriptions = newdescriptions.to_list()
descriptions[0:10]

['3M COMPANY University of Minnesota Foundation 1000000 2014',
 '3M COMPANY University of Minnesota Foundation 1000000 2013',
 '3M COMPANY University of Saint Thomas 1000000 2011',
 '3M COMPANY University of Saint Thomas 1000000 2010',
 '3M COMPANY University of Saint Thomas 1000000 2009',
 '3M COMPANY United Way, Greater Twin Cities 1000000 2014',
 'ABBOTT LABORATORIES Northwestern University 1000000 2015',
 'ABBOTT LABORATORIES Northwestern University 1000000 2014',
 'ABBOTT LABORATORIES Northwestern University 1000000 2013',
 'ABBOTT LABORATORIES Northwestern University 1000000 2012']

In [ ]:
results = []
for description in descriptions:
  if description == 0:
    results.append(0)
  else:
    numbersearches = get_results(description)
    time.sleep(.5)
    results.append(numbersearches)

<HTML url='https://www.google.com/sorry/index?continue=https://www.google.com/search%3Fq%3DBANK%2520OF%2520AMERICA%2520CORP%2520Tsinghua%2520Education%2520Foundation%2520North%2520America%25201000000%25202014&q=EgQiW_FJGKSP24EGIhkA8aeDS6S731S_P-lpgaZ1CRBtf_1bjsMfMgFy'>

IndexError: ignored

In [ ]:
results

['1,330,000',
 '632,000',
 '647,000',
 '827,000',
 '712,000',
 '747,000',
 '804,000',
 '682,000',
 '732,000',
 '659,000']

In [ ]:
len(results)

56

now have to add it back to dataframe
https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/
http://jonathansoma.com/lede/foundations/classes/pandas%20columns%20and%20functions/apply-a-function-to-every-row-in-a-pandas-dataframe/